body{
  font-family:Arial;
  font-size: 14px;
  background-image: url('../img/descarga.jpg');
  background-size:100%;
}
h4 {
 
 text-align: center;
 color: black;
 
}
#frame{
	text-align:center;
}
#chart{margin-top:1em;
	
	text-align:center;
}